*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
  background-color: var(--background);
}

::-webkit-scrollbar {
  display: none;
}

body{
  font-family: "Moderustic", sans-serif;
}

:root {
  --text: #0c0c0c;
  --primary: #9b3922;
  --secondary: #f2613f;
  --accent: #481e14;
  --background: #fffbfe;
}

