*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
  background-color: var(--background);
}

::-webkit-scrollbar{
    display: none;
}

:root {
  --text: #0c0c0c;
  --primary: #9b3922;
  --secondary: #f2613f;
  --accent: #481e14;
  --background: #fffbfe;
}

/*NAVBAR*/
/* nav {
  backdrop-filter: blur(10px);
} */



/*NAVBAR*/


/* ABOUT PAGE */

/* ABOUT PAGE */